/* Custom styles added to demo */

.twitter-tweet {
    margin: auto;
}

iframe {
    border-radius: var(--radius) !important;
}

.home-info ul {
    padding-inline-start: 20px;
}

.entry-cover img {
    border: 1px solid var(--border);
}

.main {
    max-width: calc(var(--nav-width) + var(--gap) * 2);
}

.footer {
    max-width: calc(var(--nav-width) + var(--gap) * 2);
}
